<div id="{{id}}-group" class="form-group{{#compound}} form-group-compound{{/compound}}{{#error}} validation-error{{/error}}">
    <label for="{{id}}" class="form-label-bold{{#hiddenLabel}} visuallyhidden{{/hiddenLabel}}">{{{label}}}</label>
    {{#hint}}<p class="form-hint">{{hint}}</p>{{/hint}}
    <input type="{{type}}" id="{{id}}" class="form-control{{#className}} {{className}}{{/className}}{{#postcode}} postcode{{/postcode}}{{#error}} invalid-input{{/error}}" name="{{id}}"{{#value}} value="{{value}}"{{/value}}{{#min}} min="{{min}}"{{/min}}{{#max}} max="{{max}}"{{/max}}{{#maxlength}} maxlength="{{maxlength}}"{{/maxlength}}{{#pattern}} pattern="{{pattern}}"{{/pattern}} aria-required="{{required}}">
</div>
