<fieldset id="{{key}}-group" class="{{#display}}{{display}}{{/display}}{{#error}} validation-error{{/error}}" tabindex="-1">
    <legend class="visuallyhidden">{{legend}}</legend>
    {{#options}}
        <label class="block-label" for="{{key}}-{{value}}">
            <input
            type="radio" name="{{key}}" id="{{key}}-{{value}}" value="{{value}}"
            aria-required="true"
            {{#toggle}} data-toggle="{{toggle}}"{{/toggle}}
            {{#selected}} checked="checked"{{/selected}}>
            {{{label}}}
        </label>
    {{/options}}
</fieldset>
